<!DOCTYPE html>
<html class="no-js" lang="{{ .Site.Language.Lang }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{ block "title" . }}{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ .Site.Title }}{{ end }}</title>
	<script>(function(d,e){d[e]=d[e].replace("no-js","js");})(document.documentElement,"className");</script>
	<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.description }}{{ else }}{{ .Params.Description }}{{ end }}">
	{{ if .Site.Params.opengraph }}{{ template "_internal/opengraph.html" . }}{{ end }}
	{{ if .Site.Params.twitter_cards }}{{ template "_internal/twitter_cards.html" . }}{{ end }}
	<link rel="dns-prefetch" href="//fonts.googleapis.com">
	<link rel="dns-prefetch" href="//fonts.gstatic.com">
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{ end -}}
	<link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:ital@1&family=Open+Sans&family=Oswald&family=Raleway&family=Roboto&display=swap" rel="stylesheet">
	<!--
		Usage:
	font-family: 'Montserrat', sans-serif;
	font-family: 'Roboto', sans-serif;
	font-family: 'Raleway', sans-serif;
	font-family: 'Oswald', sans-serif;
	font-family: 'Lato', sans-serif;
	font-family: 'Open Sans', sans-serif;
	-->
	{{ $style := resources.Get "css/style.css" | resources.ExecuteAsTemplate "css/style.css" . -}}
	<script
	  src="https://code.jquery.com/jquery-3.2.1.min.js"
	  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	  crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{{ $style.RelPermalink }}">
	{{ range .Site.Params.customCSS -}}
	<link rel="stylesheet" href="{{ . | relURL }}">
	{{- end }}
	<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}">
	{{- if not .Site.IsServer }}
		{{ template "_internal/google_analytics_async.html" . }}
	{{- end }}
	<link rel="stylesheet" href="/css/mtp-style.css">
	<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
</head>
<body class="body">
	<div class="container container--outer">
		{{ partial "header" . }}
		<div class="wrapper flex">
			<div class="primary">
			{{ block "main" . }}
				{{ with .Content }}
				<div class="content main__content clearfix">
					{{ . }}
				</div>
				{{ end }}
			{{ end }}
			</div>
			{{ partial "sidebar.html" . }}
		</div>
		{{ partial "footer" . }}
	</div>
<script async defer src="{{ "js/menu.js" | relURL }}"></script>
{{ range .Site.Params.customJS -}}
<script src="{{ . | relURL }}"></script>
{{- end }}
{{- partial "mathjax.html" . -}}
</body>
</html>