{{- if .Param "emailsignup" }}
<div class="emailsignupbox clearfix">
	<div id="mc_embed_signup" class='inline-email'>
	<form data-v-1adc68e1="" action="https://api.follow.it/subscription-form/NUFDc0RNY0FlN2IrVSs2N2FmcmY2R29XSnRTSDV4dmRJUnVTQmRMd3FXMG9neHExRHZnMUtnOWl2SmdjMmR6L2RxdzlyS3dhV0NEQmRnZllKV2ZyTlA5TUFsRGNlQTdRSGdPa3R6RmwxQi9IdG9TMEdxendQTEszQ20rSFVRdk98amRXL0tqeVpSdDU4UTBjckNUU2RnaHhhWnJHR2FZOC8rTU5CdDdxUzN3ST0=/8" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" method="post" target="_blank">
		<div data-v-1adc68e1="" class="form-preview">
			<div id="mc_embed_signup_scroll">
				<label for="mce-EMAIL">Consider signing up and we will notify you when we post new articles</label>
				<input data-v-1adc68e1="" type="email" name="email" class="email" id="mce-EMAIL" placeholder="Enter your email" spellcheck="false">
				<div class="clear"><input data-v-1adc68e1="" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
			</div>
		</div>
	</form>
	</div>
</div>
{{- end }}