{{- if .Site.Params.widgets.getnotified }}
<div class="widget-getnotified widget">
	<h4 class="widget__title">Subscribe</h4>
	<div class="widget__content" style="text-align: center;">
		<div class="gt_newpost" style="padding: 1px; outline: 0px none; vertical-align: baseline; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 100%; box-shadow: 0px 0px 5px rgb(204, 204, 204); display: inline-table; border: 1px solid rgb(204, 204, 204); width: 240px; height: auto;">
			<a href="https://cdn.forms-content.sg-form.com/8503e928-7bb4-11ea-b170-da82f976da15" target="_blank">Email Subscription Link</a>
		</div>
	</div>
</div>
{{- end }}