{{- if .Site.Params.widgets.getnotified }}
<div class="widget-getnotified widget">
	<h4 class="widget__title">Subscribe</h4>
	<div class="widget__content" style="text-align: center;">
		<div id="mc_embed_signup">
			<style type="text/css">
				#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
			</style>
			<!-- Begin Mailchimp Signup Form -->
			<div id="mc_embed_signup">
			<form action="https://mythinkpond.us19.list-manage.com/subscribe/post?u=9e211f62e06a7c11705c577ff&amp;id=47725b9692" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<label for="mce-EMAIL">Consider signing up and we will notify you when we post new articles</label>
			    <div id="mc_embed_signup_scroll">
				<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_9e211f62e06a7c11705c577ff_47725b9692" tabindex="-1" value=""></div>
			    </div>
			</form>
			</div>
			<!--End mc_embed_signup-->
		</div>
	</div>
</div>
{{- end }}